#app, body, html{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

:root{
  --light-color: #f5f5f5;
  --dark-color: #333;
  --primary-color: #e43b15;
  --secondary-color: #6c757d;
}

@font-face {
  font-family: "iconfont";
  /* Project id 3629060 */
  src: url('//at.alicdn.com/t/c/font_3629060_gxd7zuap35k.woff2?t=1711464150974') format('woff2'),
    url('//at.alicdn.com/t/c/font_3629060_gxd7zuap35k.woff?t=1711464150974') format('woff'),
    url('//at.alicdn.com/t/c/font_3629060_gxd7zuap35k.ttf?t=1711464150974') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 32px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xinlangweibo:before {
  content: "\e600";
}

.icon-weixin:before {
  content: "\e601";
}

.icon-QQ:before {
  content: "\e882";
}

.icon-fangdajing:before {
  content: "\e6e4";
}

.icon-kefu:before {
  content: "\e88f";
}